<div class="col-xs-6" style="text-align: center">
    <h1>Original Text</h1>
    <pre id="text" ng-mouseup="vm.updateSelectedText()" dir="rtl" ng-bind="vm.text"></pre>
</div>
<div class="col-xs-6" style="text-align: center">
    <h1>Tagged Text</h1>
    <pre id="taggedText" dir="rtl" ng-bind-html="vm.taggedText" compile-template></pre>
</div>

<!--  Tags screen -->
<div ng-if="vm.isTagScreenOn" class="text-center tags-div">
    <label>
        <input type="text" ng-model="vm.filter" class="labels-filter" ng-change="vm.updateFilter()"/>
    </label>
    <br>
    <p ng-repeat="item in vm.labelsDBjsonFiltered.subjects | limitTo : 10" class="tag-selector"
       ng-click="vm.tag(item)">
        {{item.titles[0].title}}
    </p>
</div>

