<div>
    <div class="col-xs-12" style="text-align: center">
        <!--<h1>Tagged Text</h1>-->
        <pre id="taggedText" dir="rtl" ng-mouseup="vm.updateSelectedText()" ng-bind-html="vm.taggedText" compile-template></pre>
    </div>
    <!--<div class="col-xs-6" style="text-align: center">-->
        <!--<h1>Original Text</h1>-->
        <!--<pre id="text" ng-mouseup="vm.updateSelectedText()" dir="rtl" ng-bind="vm.text"></pre>-->
    <!--</div>-->
</div>

<!--  Tags screen -->
<div ng-if="vm.isTagScreenOn" class="text-center tags-div">
    <label>
        <input type="text" ng-model="vm.filter" class="labels-filter" ng-change="vm.updateFilter()"/>
    </label>
    <br>
    <p ng-repeat="item in vm.labelsDBjsonFiltered.subjects | limitTo : 10" class="tag-selector"
       ng-click="vm.tag(item)">
        {{item.titles[0].title}}
    </p>
</div>

<script type="text/ng-template" id="popoverTemplate.html">
    <div style="text-align: right" class="panel panel-default" ng-repeat="tag in vm.textTags[vm.selectedIndex]">
        <div class="panel-heading">
            <p>{{tag.title}}&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="vm.removeTag($index)">הסר</a></p>
        </div>
        <div class="panel-body">
            <p class="col-xs-12">טקסט מתויג: {{tag.text}}</p>
            <p class="col-xs-12">החל מתו: {{tag.startIndex}} ועד תו: {{tag.endIndex}}</p>
        </div>
    </div>
</script>
