
<!--  Buttons for the header -->
<div class="header-bar">
        <!-- <div ng-click="vm.autoTag()" class="button green-button">auto tag</div> -->
        <!-- <div ng-click="vm.openRegEx()" class="button green-button">search regex</div> -->
        <div ng-click="vm.suggestTags()" class="button green-button">Suggest tags</div>
        <div ng-click="vm.prepareSave()" class="button blue-button" data-toggle="modal" data-target="#saveModal">Save text</div>
        <div ng-click="vm.openText()" class="button blue-button">Open text</div>
        <div class="app-name">jbs-web-tagger v<span app-version></span></div>
</div>

<!--  the text loading frame -->
<div hidden align="center">
    <input id="fileReaderButton" type="file" read-file="vm.showContent($fileContent)" />
    <input id="regexReaderButton" type="file" read-file="vm.translateRegex($fileContent)" />

    <button type="button" class="btn btn-success btn-sm" width="150px">
      <span class="glyphicon glyphicon-ok"></span> Load
    </button>
    <button type="button" class="btn btn-danger btn-sm" width="150px">
      <span class="glyphicon glyphicon-ok"></span> Cancel
    </button>
</div>

<div ng-if="!vm.loading && vm.texts.length === 0" class="text-center">
        <br><br>
        <h1>Please load text</h1><br>
        <button type="button" class="btn btn-primary btn-sm"  ng-click="vm.openText()" style="font-size: 30px">
          <span class="glyphicon glyphicon-open"></span> Open text
        </button>
</div>
<div ng-if="vm.loading" class="text-center">
        <br><br>
        <h1>Loading data, please wait</h1><br>
        <img src="images/throbber.gif">
</div>

<div class="main-frame" ng-if="!vm.loading && vm.texts.length > 0">
        <div class="toolbar text-center">
            <div ng-click="vm.pickTool('regex')" ng-class="(vm.tool == 'regex') ? 'button-selected' : 'button'">regex</div>
            <div ng-click="vm.pickTool('tag')" ng-class="(vm.tool == 'tag') ? 'button-selected' : 'button'">tag</div>
        </div>
        <div class="regex-panel" ng-if="vm.tool == 'regex'">
            <div class="box">
                    <table width="100%" class="header">
                            <td>
                                    <div class="button" ng-click="vm.openRegEx()">Open</div>
                            </td>
                            <td>
                                    <div class="button" ng-click="vm.exportRegex()">Export</div>
                            </td>
                            <td>
                                    <div class="button" ng-click="vm.onlineRegexObject = {'regex-list' : []}">Reset</div>
                            </td>
                    </table>
                    <div class="regex-table-container">
                        <table width="100%" class="regex-table">
                                <tr class="regex-table-header">
                                        <td width="40%">regex</td>
                                        <td colspan="2">uri/title</td>
                                </tr>
                                </table>
                                <table width="100%" class="regex-table" ng-repeat="regex in vm.onlineRegexObject['regex-list'] track by $index">
                                <tr class="regex-table-content" ng-class="$index % 2 ? 'back-gray' : ''">
                                        <td width="40%">
                                            <div class="input-group input-group-sm" style="width: 100%; position:relative;" ng-repeat="regval in regex.regex track by $index">
                                                <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon3" ng-model="regex.regex[$index]">
                                                <span class="glyphicon glyphicon-trash trash trash-left " ng-click="vm.removeSubRegex(regex, $index)"></span>
                                            </div>
                                            <span ng-click="regex.regex.push('')">Add</span>
                                        </td>
                                        <td width="50%">
                                            <div class="input-group input-group-sm oren1" >
                                                <select class="regex-selector" ng-model="regex.selectedItem"  ng-change="vm.pickSingleMode(regex)">
                                                    <option ng-selected="regex.selectedItem === 'uri'" value="uri">uri</option>
                                                    <option ng-selected="regex.selectedItem !== 'uri'" value="title">title</option>
                                                </select>
                                            </div>
                                            <div class="input-group input-group-sm oren2" >
                                                <input ng-if="regex.selectedItem === 'uri'" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon3" ng-model="regex.uri">
                                                <input ng-if="regex.selectedItem !== 'uri'"  type="text" class="form-control" placeholder="" aria-describedby="sizing-addon3" ng-model="regex.title">
                                            </div>
                                            
                                        </td>
                                        <td width="10%">
                                            <div ng-click="vm.removeRegex($index)">
                                                <span class="glyphicon glyphicon-minus-sign trash" ></span>
                                            </div>
                                        </td>
                                </tr>
                                </table>
                                <table width="100%" class="regex-table">

                                <tr class="regex-table-footer text-center">
                                        <td colspan="3"><span ng-click="vm.addRegex()">Add</span></td>
                                </tr>
                                <tr class="regex-table-footer text-center">
                                        <td colspan="3">
                                            <div class="apply-btn" ng-click="vm.autoTagHelper()">Apply Current</div>
                                            <div class="apply-btn" ng-click="vm.autoTag()">Apply All</div>
                                        </td>
                                </tr>
                        </table>
                    </div>
            </div>
        </div>
        <div class="tags-panel" ng-if="vm.tool == 'tag'">
            <div class="text-center tags-div focused-z" id="tagsDiv">
                <label>

                    <input ng-disabled="!vm.isSelectionValid() && !vm.suggestMode" id="tagNameInput" name="tagNameInput" type="text" ng-model="vm.filter" class="labels-filter" ng-change="vm.updateFilter()"/>
                    <i class="glyphicon glyphicon-remove uri-box-clear" ng-click="vm.clearURI()"></i>
                </label>
                <br>
                <p ng-repeat="item in vm.labelsDBjsonFiltered.subjects | limitTo : 10" ng-class="(item.selected) ? 'tag-selector-selected ' : 'tag-selector'" ng-click="vm.tag(item)">
                    <span ng-if="item['rdfs:label']">{{item['rdfs:label']}}</span>
                    <span ng-if="item.titles && !item['rdfs:label']">{{item.titles[0].title}}</span>
                </p>
            </div>
        </div>
        <div class="nav-panel">
                    
            <div class="paging-button-left text-center" ng-click="vm.loadPrevText()"><span class="glyphicon glyphicon-step-backward"></span><br>Prev</div>
            <div class="paging-text">
                    <span class="main-text">{{vm.textNumber + 1}}</span><br>
                    <span class="sub-text">{{vm.texts[vm.textNumber].titles[0]}}</span>
            </div>
            <div class="paging-button-right text-center" ng-click="vm.loadNextText()"><span class="glyphicon glyphicon-step-forward"></span><br>Next</div>
        </div>
        <div class="text-panel">
            
            <pre id="taggedText" ng-mouseup="vm.updateSelectedText()" dir="rtl" ng-bind-html="vm.taggedText" compile-template style="font-size: 16px; white-space: pre-wrap; overflow: hidden"></pre>
        </div>
<script type="text/ng-template" id="popoverTemplate.html">
    <div style="direction: rtl; text-align: right" class="panel panel-default" ng-repeat="tag in vm.textTags[vm.selectedIndex]">
        <div class="panel-heading">
            <p style="cursur: pointer">{{tag.title}}</p>
        </div>
        <div class="panel-body">
            <p class="col-xs-12">טקסט מתויג: <font style="font-weight: bold">{{tag.text}}</font></p>
            <p class="col-xs-12">החל ממילה: {{tag.startWord}} ועד מילה: {{tag.endWord}}</p>            
        </div>
        <div class="popover-buttons">
            <div class="button" ng-click="vm.removeTag($index)">הסר</div>
            <div class="button" ng-click="vm.editTag($index)">ערוך</div>
        </div>
    </div>
</script>

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="direction: rtl;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Save options</h4>
      </div>
      <div class="modal-body">
        <div>
            <div width="100px" ng-click="vm.saveSetAll(true)" class="save-btn save-btn-left" >
                Select all
            </div>
            <div width="100px" ng-click="vm.suggestSave()" class="save-btn save-btn-left" >
                Select tagged
            </div>
            <div width="100px" ng-click="vm.saveSetAll(false)" class="save-btn save-btn-left" >
                Clear all
            </div>
            <div width="100px" ng-click="vm.savingModalMode = 1" ng-show="vm.savingModalMode === 2" class="save-btn save-btn-right" >
                Show all
            </div>
            <div width="100px" ng-click="vm.savingModalMode = 2" ng-show="vm.savingModalMode === 1" class="save-btn save-btn-right" >
                Show selected
            </div>
        </div>
        <hr>
        <div style="width: 100%; height: 400px; overflow-y: auto">
            <div ng-repeat="text in vm.texts" ng-show="(vm.savingModalMode===1) || (text.savingState)" ng-class="(text.savingState) ? 'text-selected' : '' "> 
                    <label style="padding: 0 20px 0 20px; font-size: 15px;"><input type="checkbox" ng-model="text.savingState"> {{text.titles[0]}}</label>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.saveText()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div ng-if="vm.suggestMode" class="suggest-hider"></div>
<div ng-if="vm.suggestMode" class="suggest-container">
    
    <table width="100%" height="100%">
        <tr  class="suggestions-title">
            <td colspan="5" class="text-center">
                <i class="glyphicon glyphicon-remove close-icon" ng-click="vm.suggestionsClose()"></i>
                <h3>Automatic Tag Suggestions</h3>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <pre id="taggedText" style="text-direction:rtl;font-size: 16px; white-space: pre-wrap; overflow: hidden;" >
                    <font ng-class="vm.s.p1.className">{{vm.s.p1.text}}</font><font ng-class="vm.s.p2.className">{{vm.s.p2.text}}</font><font ng-class="vm.s.p3.className">{{vm.s.p3.text}}</font><font ng-class="vm.s.p4.className">{{vm.s.p4.text}}</font><font ng-class="vm.s.p5.className">{{vm.s.p5.text}}</font>
                </pre>
            </td>
        </tr>
        <tr style="height: 50px">
            <td width="10%">
                
            </td>
            <td width="35%">
                  <button type="button" class="btn btn-success btn-block" ng-click="vm.suggestionApply()" ng-disabled="!vm.isTitleSelected">Apply</button>
            </td>
            <td width="10%">
                
            </td>
            <td width="35%">
                <button type="button" class="btn btn-danger btn-block" ng-click="vm.suggestionDissmiss()">Dissmiss</button>
            </td>
            <td width="10%">
                
            </td>
        </tr>
    </table>
</div> 