<!--  Buttons for the header -->
<div style="position: absolute; top: 0; right:0; padding: 10px">
        <button type="button" class="btn btn-primary btn-sm"  ng-click="vm.openText()">
          <span class="glyphicon glyphicon-open"></span> Open text
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saveModal" ng-click="vm.prepareSave()">
          <span class="glyphicon glyphicon-save"></span> Save text
        </button>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.suggestTags()">
          <span class="glyphicon glyphicon-flash"></span> Suggest tags
        </button>
</div>

<!--  the text loading frame -->
<div ng-show="false" align="center">
    <input id="fileReaderButton" type="file" read-file="vm.showContent($fileContent)" />

    <button type="button" class="btn btn-success btn-sm"  ng-click="vm.loadNewText()" width="150px">
      <span class="glyphicon glyphicon-ok"></span> Load
    </button>
    <button type="button" class="btn btn-danger btn-sm"  ng-click="vm.cancelNewText()" width="150px">
      <span class="glyphicon glyphicon-ok"></span> Cancel
    </button>
</div>

<div ng-show="!vm.loading && vm.texts.length === 0" class="text-center">
        <br><br>
        <h1>Please load text</h1><br>
        <button type="button" class="btn btn-primary btn-sm"  ng-click="vm.openText()" style="font-size: 30px">
          <span class="glyphicon glyphicon-open"></span> Open text
        </button>
</div>
<div ng-show="vm.loading" class="text-center">
        <br><br>
        <h1>Loading data, please wait</h1><br>
        <img src="images/throbber.gif">
</div>
<div ng-show="vm.err" class="text-center">
        <br><br>
        <h1>Data is corrupted, please fix data and try again</h1><br>
        <button type="button" class="btn btn-primary btn-sm"  ng-click="vm.openText()" style="font-size: 30px">
          <span class="glyphicon glyphicon-open"></span> Open text
        </button>
</div>
<div ng-show="!vm.loading && vm.texts.length > 0">
    <div class="col-xs-12" style="text-align: center">
        <table width="100%">
        	<tr>
        		<td width="20%" valign="top">
					<div class="text-center tags-div" id="tagsDiv">
					    <label>
					        <input ng-disabled="!vm.isSelectionValid()" id="tagNameInput" name="tagNameInput" type="text" ng-model="vm.filter" class="labels-filter" ng-change="vm.updateFilter()"/>
					    </label>
					    <br>
					    <p ng-repeat="item in vm.labelsDBjsonFiltered.subjects | limitTo : 10" ng-class="(item.selected) ? 'tag-selector-selected ' : 'tag-selector'"
					       ng-click="vm.tag(item)">
					        {{item.titles[0].title}}
					    </p>
					</div>
				</td>
        		<td width="70%" valign="top">
        			<pre id="taggedText" ng-mouseup="vm.updateSelectedText()" dir="rtl" ng-bind-html="vm.taggedText" compile-template style="font-size: 16px; white-space: pre-wrap; overflow: hidden"></pre>
        		</td>
        		<td width="10%" valign="top">
        			<span ng-click="vm.loadNextText()" class="glyphicon glyphicon-triangle-top" style="font-size: 80px; cursor: pointer;"></span>
        			<p style="font-size: 45px">{{vm.textNumber + 1}}</p>
                    <p style="font-size: 12px">{{vm.texts[vm.textNumber].titles[0].title}}</p>
        			<span ng-click="vm.loadPrevText()" class="glyphicon glyphicon-triangle-bottom" style="font-size: 80px; cursor: pointer;"></span>
        		</td>
        	</tr>
        </table>
        
    </div>
</div>

<!--  Tags screen -->

<script type="text/ng-template" id="popoverTemplate.html">
    <div style="direction: rtl; text-align: right" class="panel panel-default" ng-repeat="tag in vm.textTags[vm.selectedIndex]">
        <div class="panel-heading">
            <p style="cursur: pointer">{{tag.title}}<button style="float: left; height: 30px" class="btn btn-primary" ng-click="vm.removeTag($index)">הסר</button></p>
        </div>
        <div class="panel-body">
            <p class="col-xs-12">טקסט מתויג: <font style="font-weight: bold">{{tag.text}}</font></p>
            <p class="col-xs-12">החל ממילה: {{tag.startWord}} ועד מילה: {{tag.endWord}}</p>            
        </div>
    </div>
</script>

<!--  Save modal -->
<!-- Button trigger modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="direction: rtl;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Save options</h4>
      </div>
      <div class="modal-body">
        <div>
            <div width="100px" ng-click="vm.saveSetAll(true)" class="save-btn save-btn-left" >
                Select all
            </div>
            <div width="100px" ng-click="vm.suggestSave()" class="save-btn save-btn-left" >
                Select tagged
            </div>
            <div width="100px" ng-click="vm.saveSetAll(false)" class="save-btn save-btn-left" >
                Clear all
            </div>
            <div width="100px" ng-click="vm.savingModalMode = 1" ng-show="vm.savingModalMode === 2" class="save-btn save-btn-right" >
                Show all
            </div>
            <div width="100px" ng-click="vm.savingModalMode = 2" ng-show="vm.savingModalMode === 1" class="save-btn save-btn-right" >
                Show selected
            </div>
        </div>
        <hr>
        <div style="width: 100%; height: 400px; overflow-y: auto">
            <div ng-repeat="text in vm.texts" ng-show="(vm.savingModalMode===1) || (text.savingState)" ng-class="(text.savingState) ? 'text-selected' : '' "> 
                    <label style="padding: 0 20px 0 20px; font-size: 15px;"><input type="checkbox" ng-model="text.savingState"> {{text.titles[0]}}</label>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.saveText()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div ng-if="vm.suggestMode" class="suggest-hider"></div>
<div ng-if="vm.suggestMode" class="suggest-container">
    
    <table width="100%" height="100%">
        <tr  class="suggestions-title">
            <td colspan="5" class="text-center">
                <i class="glyphicon glyphicon-remove close-icon" ng-click="vm.suggestionsClose()"></i>
                <h3>Automatic Tag Suggestions</h3>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <pre id="taggedText" style="text-direction:rtl;font-size: 16px; white-space: pre-wrap; overflow: hidden;" >
                    <font ng-class="vm.s.p1.className">{{vm.s.p1.text}}</font><font ng-class="vm.s.p2.className">{{vm.s.p2.text}}</font><font ng-class="vm.s.p3.className">{{vm.s.p3.text}}</font><font ng-class="vm.s.p4.className">{{vm.s.p4.text}}</font><font ng-class="vm.s.p5.className">{{vm.s.p5.text}}</font>
                </pre>
            </td>
        </tr>
        <tr style="height: 50px">
            <td width="10%">
                
            </td>
            <td width="35%">
                  <button type="button" class="btn btn-success btn-block" ng-click="vm.suggestionApply()">Apply</button>
            </td>
            <td width="10%">
                
            </td>
            <td width="35%">
                <button type="button" class="btn btn-danger btn-block" ng-click="vm.suggestionDissmiss()">Dissmiss</button>
            </td>
            <td width="10%">
                
            </td>
        </tr>
    </table>
</div>