/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.labels-db-loader {
  text-align: center;
  width: 100%;
}

.labels-db-loader textarea {
  width: 500px;
  height: 300px;
  font-size: 10px

}

.labels-filter {
  font-size: 14px;
  direction: rtl;

}

.tag-selector {
  cursor: pointer;
  margin: 0
}
.tag-selector:hover{
  cursor: pointer;
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.tagged {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin: 0 1px 0 1px;
}

.remove-tag-button {
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}