/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.labels-db-loader {
  text-align: center;
  width: 100%;
}

.labels-db-loader textarea {
  width: 500px;
  height: 300px;
  font-size: 10px

}

.labels-filter {
  width:100%;
  font-size: 25px;
  direction: rtl;

}
.tag-selector {
  color: black;
  font-size: 22px;
  cursor: pointer;
  margin: 0
}
.tag-selector:hover{
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 0;
  background-color: blue;
}

.tag-selector-selected {

  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 0;
  background-color: darkblue;
}
.tag-selector-selected:hover {

  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 0;
  background-color: blue;
}

.tagged {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin: 0 1px 0 1px;
}

.remove-tag-button {
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}

.tags-div {
	width: 90%;

}


.tagged-text {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.highlighted-text {
	background-color: #80ffff
}